# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/dmnumberspay"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"



# THE UWALLET SECRETS
PRIVATE_LAUNCHTUBE_JWT="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzMTcyNDdhOTQxZmJhZjJlMTFiZWZjZTg0NWNhNTA3NzIwMDBlMGMyNGM3OGEyMWI3Yjg3YmEyNTI5NTM1MWZhIiwiZXhwIjoxNzU5NjEwMTQ2LCJjcmVkaXRzIjoxMDAwMDAwMDAwLCJpYXQiOjE3NTIzNTI1NDZ9.n-3wQYZjaKtRCk6JbzryRNWd8r1LDTWvHMWZHBH3GN0"

PRIVATE_MERCURY_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiZ29vZ2xlb2F1dGgyMTE2OTYzNDQyODQ4MDA3MTI4NTIwIiwiZXhwIjoxNzU0OTQ0NjM5LCJ1c2VyX2lkIjoyMjYsInVzZXJuYW1lIjoiZGpheWFibGVlekBnbWFpbC5jb20iLCJpYXQiOjE3NTIzNTI2MzgsImF1ZCI6InBvc3RncmFwaGlsZSIsImlzcyI6InBvc3RncmFwaGlsZSJ9.6ZnpIYlVAW_Zbqw79yqP5Lwr9L0oVkf0K15cs4F4_V0"

PRIVATE_MERCURY_KEY="ZeeqP18XMn5XZelyIAnR5as4HoWBeCOB"


PRIVY_APP_ID=""
PRIVY_SECRET_KEY=""